ul{
 list-style: none;
  margin: 0x;
  display: flex;
}
a{
  font-size: 20px;
}


.spacer{
  flex: 1 1 auto;
}
h2{
  margin-left: 16px;
  color: yellow;
  display: flow-root;
}
button{
  font-size: 20px;
}

a{
  color: white;
  text-decoration: none;
}
